body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.person {
  display: inline-block;
  width: 15em;
  border: red 2px solid;
  padding: 2em;
  margin: 2em;
  vertical-align: top;
  height: 14em;
}

.promote-btn {
  display: block!important;
  margin-top: 1em!important;
}
